<main class="container-fluid">
  <div class="row vh-100">
    <div class="col-md-4 bg-dark text-white p-0">
      <div style="max-width: 300px; width: 100%; margin-top: 7rem; border: 2px solid yellow;" class="rounded p-4 shadow-sm mx-auto">
        <h2 class="text-center">Edição de Listas de Emails</h2>
        <p class="text-center"><strong>Aqui você edita uma lista de emails!</strong></p>
        <p class="text-center">Edite o nome ou contatos para a lista de envio.</p>
      </div>
      <%= render 'email_lists/error_messages', contact: @email_list %>
    </div>

    <div class="col-md-8 d-flex justify-content-center align-items-start" style="height: 100%; margin-top: 0;">
      <div style="max-width: 850px; width: 100%; padding: 1rem; margin-top: 5rem;" class="rounded p-4 shadow-sm bg-light">
        <h1 class="text-center">Editar Lista</h1>

        <%= form_with(model: @email_list, local: true) do |form| %>
          <div class="mb-3">
            <%= form.label :name, "Nome", class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <div class="d-flex align-items-center">
              <%= form.label :contact_ids, "Contatos", class: "form-label me-auto" %>
              <span id="selected-count" class="ms-3">
                Contatos Selecionados: <%= @email_list.contact_ids.size %>
              </span>
            </div>
            <% if @contacts.present? %>
              <div class="table-responsive" style="height: 200px; overflow-y: auto;">
                <table class="table table-hover table-striped table-bordered text-center">
                  <thead class="thead-dark sticky-header">
                    <tr>
                      <th scope="col"><input type="checkbox" id="select-all" class="form-check-input"></th>
                      <th scope="col">Nome</th>
                      <th scope="col">Email</th>
                      <th scope="col">Criado</th>
                      <th scope="col">Atualizado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= form.collection_check_boxes :contact_ids, @contacts, :id, :name do |cb| %>
                      <tr>
                        <td class="text-center">
                          <%= cb.check_box class: "form-check-input contact-checkbox" %>
                        </td>
                        <td><%= cb.label class: "form-check-label" %></td>
                        <td><small class="text-muted"><%= cb.object.email %></small></td>
                        <td><small class="text-muted"><%= cb.object.created_at.strftime("%d/%m/%Y %H:%M") %></small></td>
                        <td><small class="text-muted"><%= cb.object.updated_at.strftime("%d/%m/%Y %H:%M") %></small></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <p class="text-center">Nenhum contato disponível.</p>
            <% end %>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <%= form.submit 'Salvar', class: 'btn btn-primary' %>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Voltar</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<style>
  .table-responsive {
    max-height: 400px; /* Ajuste conforme necessário */
    overflow-y: auto;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #343a40;
    color: #fff;
    z-index: 1;
  }
</style>

<script>
document.addEventListener("turbo:load", function() {
  const checkboxes = document.querySelectorAll(".contact-checkbox");
  const selectAllCheckbox = document.getElementById("select-all");
  const selectedCountSpan = document.getElementById("selected-count");

  function updateSelectedCount() {
    const selectedCount = document.querySelectorAll(".contact-checkbox:checked").length;
    selectedCountSpan.textContent = `Contatos Selecionados: ${selectedCount}`;
  }

  function handleSelectAll() {
    const isChecked = selectAllCheckbox.checked;
    checkboxes.forEach(checkbox => {
      checkbox.checked = isChecked;
    });
    updateSelectedCount();
  }

  if (selectAllCheckbox) {
    selectAllCheckbox.addEventListener("change", function() {
      handleSelectAll();
    });
  }

  if (checkboxes.length > 0) {
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener("change", function() {
        updateSelectedCount();
      });
    });
  }

  // Atualiza a contagem ao carregar a página
  updateSelectedCount();

  if (!sessionStorage.getItem("reloaded")) {
    sessionStorage.setItem("reloaded", "true");
    location.reload(true);
  } else {
    sessionStorage.removeItem("reloaded");
  }

});
</script>
