<main class="container-fluid">
  <div class="row vh-100">
    <!-- Div da esquerda -->
    <div class="col-md-4 bg-dark text-white p-0">
      <div style="max-width: 300px; width: 100%; margin-top: 10rem; border: 2px solid yellow;" class="rounded p-4 shadow-sm mx-auto">
        <h2 class="text-center">Cadastro de Listas de Emails</h2>
        <p class="text-center"><strong>Aqui você cadastra uma lista de emails!</strong></p>
        <p class="text-center">Cadastre o nome e selecione os contatos para a lista de envio.</p>
      </div>
    </div>

    <!-- Div da direita fixa na tela e ocupa o espaço restante -->
    <div class="col-md-8 d-flex justify-content-center align-items-start" style="height: 100%; margin-top: 0rem;">
      <div style="max-width: 850px; width: 100%; border: 1px solid black; padding: 1rem; margin-top: 5rem;" class="rounded p-4 shadow-sm bg-light">
        <h1 class="text-center">Nova Lista</h1>

        <%= form_with(model: @email_list, local: true) do |form| %>
          <% if @email_list.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(@email_list.errors.count, "error") %> prohibited this email list from being saved:</h2>
              <ul>
                <% @email_list.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-3">
            <%= form.label :name, "Nome", class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <div class="d-flex align-items-center">
              <%= form.label :contacts, "Contatos", class: "form-label me-auto" %>
              <span id="selected-count" class="ms-3">Contatos Selecionados: 0</span>
            </div>
            <% if @contacts.present? %>
              <div class="contacts-container">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col">Selecionar</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Criado</th>
                    <th scope="col">Atualizado</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= form.collection_check_boxes :contact_ids, @contacts, :id, :name do |cb| %>
                    <tr>
                      <td class="text-center"><%= cb.check_box class: "form-check-input" %></td>
                      <td><%= cb.label class: "form-check-label" %></td>
                      <td><small class="text-muted"><%= cb.object.email %></small></td>
                      <td><small class="text-muted"><%= cb.object.created_at.strftime("%d/%m/%Y %H:%M") %></small></td>
                      <td><small class="text-muted"><%= cb.object.updated_at.strftime("%d/%m/%Y %H:%M") %></small></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <p>No contacts available.</p>
            <% end %>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <%= form.submit 'Salvar', class: 'btn btn-primary' %>
            <%= link_to 'Voltar', email_lists_path, class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<style>
    .contacts-container {
        max-height: 220px;
        overflow-y: auto;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .contacts-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .contacts-container thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #343a40;
        color: #fff;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ced4da;
    }

    .text-center {
        text-align: center;
    }

    .form-check-input {
        margin: 0 auto;
    }

    .form-check-label {
        margin: 0;
    }

    .text-muted {
        color: #6c757d;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxes = document.querySelectorAll(".form-check-input");
        const selectedCountSpan = document.getElementById("selected-count");

        function updateSelectedCount() {
            const selectedCount = document.querySelectorAll(".form-check-input:checked").length;
            selectedCountSpan.textContent = `Contatos Selecionados: ${selectedCount}`;
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", updateSelectedCount);
        });

        // Initial count update
        updateSelectedCount();
    });
</script>
