<%= stylesheet_link_tag 'email_lists', media: 'all' %>

<main class="container-fluid">
  <div class="row vh-100">
    <!-- Div da esquerda -->
    <div class="col-md-4 bg-dark text-white p-0">
      <div style="max-width: 300px; width: 100%; margin-top: 6rem; border: 2px solid yellow;" class="rounded p-4 shadow-sm mx-auto">
        <h2 class="text-center">Cadastro de Listas de Emails</h2>
        <p class="text-center"><strong>Aqui você cadastra uma lista de emails!</strong></p>
        <p class="text-center">Cadastre o nome e selecione os contatos para a lista de envio.</p>
        <!-- Botão para editar o texto do email -->
        <div class="text-center">
          <button id="edit-text-button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#editTextModal">Editar Texto do Email</button>
        </div>
      </div>

      <% if flash[:notice] %>
        <div style="max-width: 300px; width: 100%; margin-top: 1rem; border: 2px solid green;" class="rounded p-4 shadow-sm mx-auto">
          <h4 class="alert-heading">Aviso:</h4>
          <div>
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div style="max-width: 300px; width: 100%; margin-top: 1rem; border: 2px solid red;" class="rounded p-4 shadow-sm mx-auto">
          <h4 class="alert-heading">Erro:</h4>
          <div>
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Div da direita fixa na tela e ocupa o espaço restante -->
    <div class="col-md-8 d-flex justify-content-center align-items-start" style="height: 100%;">
      <div class="rounded p-4 shadow-sm bg-light" id="details-box">
        <br><br><br>
        <div class="mb-3 d-flex justify-content-between">
          <p><strong>Nome:</strong> <%= @email_list.name %></p>
          <p><strong>Data de Envio:</strong> <%= @email_list.send_date.present? ? @email_list.send_date.strftime("%d/%m/%Y %H:%M") : DateTime.current.strftime("%d/%m/%Y %H:%M") %></p>
        </div>

        <% if @email_list.contacts.any? %>
          <div class="table-responsive" style="height: 200px; overflow-y: scroll;">
            <table class="table table-hover table-striped table-bordered text-center">
              <thead class="thead-dark sticky-header">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
              </tr>
              </thead>
              <tbody>
              <% @email_list.contacts.each do |contact| %>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.email %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p class="text-center">Nenhum contato disponível.</p>
        <% end %>

        <br><br>
        <h5 class="mb-3">Enviar Documento</h5>
        <%= form_with url: send_document_email_list_path(@email_list), local: true, method: :post, multipart: true, id: "send-document-form" do |form| %>
          <div class="d-flex mb-3">
            <div class="me-2 flex-grow-1">
              <%= form.label :document, "Selecione seu documento para anexar", class: "form-label" %>
              <%= form.file_field :document, accept: '.pdf,.doc,.odt', class: "form-control", id: "document-field" %>
            </div>
            <%= form.submit "Enviar Lista", class: "btn btn-warning align-self-end", id: "send-document-button" %>
          </div>
        <% end %>

        <div class="mt-4">
          <%= link_to 'Editar', edit_email_list_path(@email_list), class: 'btn btn-primary me-2' %>
          <%= link_to 'Voltar', email_lists_path, class: 'btn btn-secondary' %>
        </div>
      </div>

      <!-- Div para edição de text_email -->
      <div class="details-box rounded p-4 shadow-sm bg-light d-none" id="text-email-box">
        <h4 class="text-center mb-4">Editar Texto do Email</h4>
        <%= form_with model: @email_list, url: @email_list.persisted? ? email_list_path(@email_list) : email_lists_path, local: true, method: @email_list.persisted? ? :patch : :post do |form| %>
          <div class="mb-3">
            <%= form.label :text_email, "Digite aqui seu texto personalizado!", class: "form-label" %>
            <%= form.text_area :text_email, rows: 10, class: "form-control text-email-field" %>
          </div>
          <div class="text-center">
            <%= form.submit "Salvar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <!-- Modal para edição de text_email -->
      <div class="modal fade" id="editTextModal" tabindex="-1" aria-labelledby="editTextModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="editTextModalLabel">Texto do Email</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= form_with model: @email_list, url: @email_list.persisted? ? email_list_path(@email_list) : email_lists_path, local: true, method: @email_list.persisted? ? :patch : :post do |form| %>
                <div class="mb-3">
                  <%= form.label :text_email, "Digite aqui seu texto personalizado!", class: "form-label" %>
                  <%= form.text_area :text_email, rows: 10, class: "form-control text-email-field" %>
                </div>
                <div class="text-center">
                  <%= form.submit "Salvar", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


    <script>
        document.addEventListener("turbo:load", function() {
        const documentField = document.getElementById("document-field");
        const sendDocumentButton = document.getElementById("send-document-button");
        const selectedCountSpan = document.getElementById("selected-count");
        const checkboxes = document.querySelectorAll(".contact-checkbox");
        const selectAllCheckbox = document.getElementById("select-all");

        // Desabilitar o botão de envio inicialmente
        sendDocumentButton.disabled = true;

        // Função para habilitar/desabilitar o botão de envio
        function toggleSendButton() {
        sendDocumentButton.disabled = documentField.files.length === 0;
    }

        // Adicionar evento de mudança ao campo de arquivo
        documentField.addEventListener("change", toggleSendButton);

        function updateSelectedCount() {
        const selectedCount = document.querySelectorAll(".contact-checkbox:checked").length;
        selectedCountSpan.textContent = `Contatos Selecionados: ${selectedCount}`;
    }

        function handleSelectAll() {
        const isChecked = selectAllCheckbox.checked;
        checkboxes.forEach(checkbox => {
        checkbox.checked = isChecked;
    });
        updateSelectedCount();
    }

        if (selectAllCheckbox) {
        selectAllCheckbox.addEventListener("change", handleSelectAll);
    }

        checkboxes.forEach(checkbox => {
        checkbox.addEventListener("change", updateSelectedCount);
    });

        updateSelectedCount();
    });
</script>

