<%= stylesheet_link_tag 'email_lists', media: 'all' %>

<main class="container-fluid">
  <div class="row vh-100">
    <!-- Div da esquerda -->
    <div class="col-md-4 bg-dark text-white p-0">
      <div style="max-width: 300px; width: 100%; margin-top: 10rem; border: 2px solid yellow;" class="rounded p-4 shadow-sm mx-auto">
        <h2 class="text-center">Detalhes da Lista de Emails</h2>
        <p class="text-center"><strong>Aqui estão os detalhes da lista de emails selecionada!</strong></p>
        <p class="text-center">Visualize as informações e envie documentos conforme necessário.</p>
      </div>
    </div>

    <!-- Div da direita fixa na tela e ocupa o espaço restante -->
    <div class="col-md-8 d-flex justify-content-center align-items-start" style="height: 100%;">
      <div class="details-box rounded p-4 shadow-sm bg-light">

        <h1 class="text-center mb-4">Detalhes da Lista</h1>

        <div class="mb-3">
          <p><strong>Nome:</strong> <%= @email_list.name %></p>
          <p><strong>Data de Envio:</strong> <%= @email_list.send_date.present? ? @email_list.send_date.strftime("%d/%m/%Y %H:%M") : DateTime.current.strftime("%d/%m/%Y %H:%M") %></p>
        </div>

        <div class="contacts-container">
          <% if @email_list.contacts.any? %>
            <table class="table table-bordered table-striped" id="contacts-table">
              <thead class="sticky-header">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
              </tr>
              </thead>
              <tbody>
              <% @email_list.contacts.each do |contact| %>
                <tr>
                  <td><%= contact.name %></td>
                  <td><%= contact.email %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="text-center">Nenhum contato disponível.</p>
          <% end %>
        </div>
        <p>
        <h5> Enviar Documento</h5>
        <%= form_with url: send_document_email_list_path(@email_list), local: true, method: :post, multipart: true do |form| %>
          <div class="form-container">
            <%= form.label :document, "Selecione seu documento para anexar", class: "form-label" %>
            <%= form.file_field :document, accept: '.pdf,.doc,.odt', class: "form-control" %>
            <%= form.submit "Enviar Documento", class: "btn btn-warning mt-2" %>
          </div>
        <% end %>

        <div class="mt-3">
          <%= link_to 'Editar', edit_email_list_path(@email_list), class: 'btn btn-primary me-2' %>
          <%= link_to 'Voltar', email_lists_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</main>
