<%= stylesheet_link_tag 'email_lists', media: 'all' %>

<p>
  <strong>Name:</strong>
  <%= @email_list.name %>
</p>

<p>
 
  <strong>Contacts:</strong>
  <ul>
    <% @email_list.contacts.each do |contact| %>
      <li><%= contact.name %> (<%= contact.email %>)</li>
    <% end %>
  </ul>
</p>

<h2>Send Document</h2>

<%= form_with url: send_document_email_list_path(@email_list), local: true, method: :post, multipart: true do |form| %>
  <div class="field">
    <%= form.label :document %>
    <%= form.file_field :document %>
  </div>

  <div class="actions">
    <%= form.submit "Send Document" %>
  </div>
<% end %>

<%= link_to 'Edit', edit_email_list_path(@email_list) %> |
    <td><%= button_to 'Destroy', @email_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-style' %></td>
<%= link_to 'Back', email_lists_path %>



