<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <style>
      body {
          display: flex;
          align-items: center;
          justify-content: flex-end; /* Move o conteúdo para a direita */
          height: 100vh;
          background-color: #f8f9fa; /* Cor de fundo do corpo da página */
          margin: 0; /* Remove margens padrão do body */
          font-family: Arial, sans-serif; /* Fonte padrão */
      }

      .form-group {
          position: relative;
          margin-bottom: 1rem;
          text-align: center; /* Centraliza o conteúdo dentro do form-group */
          padding: 15px; /* Adiciona padding para aumentar a área de hover */
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transição suave para borda e sombra */
      }

      .form-control {
          padding: 0.75rem;
          font-size: 1rem;
          width: 300px;
          background-color: #f0f0f0;
          border: 1px solid #ced4da; /* Borda sólida cinza */
          display: block;
          margin: 0 auto;
          text-align: center;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transição suave para borda e sombra */
      }

      .form-control:focus {
          outline: none;
          border-color: #80bdff; /* Borda azul quando focado */
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra azul quando focado */
      }

      .form-control::placeholder {
          color: #6c757d; /* Cor do texto do placeholder */
          opacity: 1; /* Garante que o placeholder seja visível */
      }

      .form-control:hover {
          border-color: #b0b0b0; /* Borda mais escura ao passar o mouse */
      }

      .placeholder-label {
          position: absolute;
          top: 0.25rem;
          left: 1rem;
          pointer-events: none;
          color: rgba(79, 83, 108, 0.97);
      }

      .styled-checkbox {
          appearance: none; /* Remove o estilo padrão do sistema operacional */
          -webkit-appearance: none; /* Para navegadores baseados em WebKit (como Safari) */
          -moz-appearance: none; /* Para navegadores baseados em Mozilla (como Firefox) */
          width: 20px; /* Define a largura do checkbox */
          height: 20px; /* Define a altura do checkbox */
          border: 1px solid #ced4da; /* Adiciona uma borda sólida ao checkbox */
          border-radius: 4px; /* Adiciona bordas arredondadas */
          transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Adiciona uma transição suave */
          cursor: pointer; /* Muda o cursor para indicar que o checkbox é clicável */
      }

      .styled-checkbox:checked {
          background-color: #007bff; /* Muda a cor de fundo quando o checkbox está marcado */
          border-color: #007bff; /* Muda a cor da borda quando o checkbox está marcado */
      }

      .wide-button {
          width: 100%; /* Largura total do elemento pai */
          max-width: 300px; /* Largura máxima do botão */
      }

      main {
          width: 100%;
          max-width: 400px;
          margin-right: 20px; /* Espaço da direita da tela */
      }

      .image-container {
          flex: 1;
          background-image: url('<%= asset_path("email.jpg") %>'); /* Caminho para sua imagem */
          background-size: cover; /* Ajusta a imagem para cobrir o espaço */
          background-position: center; /* Centraliza a imagem */
          height: 100vh; /* Garante que a altura seja de 100vh */
      }

      /* Defina um gradiente azul para o botão */
      .btn-gradient-blue {
          background: linear-gradient(to right, #4facfe, #00f2fe);
          border: none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
          transition: background 0.3s ease-in-out;
      }

      /* Adicione um efeito de hover */
      .btn-gradient-blue:hover {
          background: linear-gradient(to right, #00f2fe, #4facfe);
      }


  </style>
</head>
<body>
<div class="image-container"></div>

<main class="d-flex justify-content-center align-items-center vh-100" >
  <form class="text-center" action="<%= session_path(resource_name) %>" method="post" style="max-width: 400px;">
    <img src="<%= asset_path('message.png') %>" class="mb-4" height="200" width="200">
    <h1 class="h3 mb-3 fw-normal">Por favor, inscreva-se!</h1>

    <div class="form-group">
      <%= csrf_meta_tags %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
        <div class="position-relative">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Digite seu Email" %>
          <label class="placeholder-label visually-hidden">Email</label>
        </div>
        <p>
        <div class="position-relative">
          <%= f.password_field :password,  autofocus: true, autocomplete: "current-password", class: "form-control", placeholder: "Digite sua Senha" %>
          <label class="placeholder-label visually-hidden">Senha</label>
        </div>
        <p>
          <% if devise_mapping.rememberable? %>
          <div class="form-check d-flex justify-content-center mb-3">
            <%= f.check_box :remember_me, class: "form-check-input styled-checkbox", id: "remember_me" %>
            <%= f.label :remember_me, class: "form-check-label text-center ms-2", for: "remember_me" do %>
              Lembrar-me
            <% end %>
          </div>
        <% end %>

        <div class="text-center mb-4">
          <%= f.submit "Acessar", class: "btn btn-primary me-2 wide-button" %>
        </div>
      <% end %>

      <%= render "devise/shared_devise/links" %>
    </div>
  </form>
</main>
</body>
</html>
